<form ng-submit="submit()">
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-search"></span>
                <!-- <span class="caret"></span>-->
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" ng-click="changeKey('loction', '搜尋地點')">地點</a>
                </li>
                <li><a href="" ng-click="changeKey('planName', '搜尋標題')">標題</a>
                </li>
                <li><a href="" ng-click="changeKey('userId', '搜尋帳號')">帳號</a>
                </li>
            </ul>
        </div>
        <!-- /btn-group -->
        <!-- BUG>OK: same input cannot submit -->
        <input type="text" class="form-control" placeholder="{$desc$}" ng-model="input">
    </div>
</form>
<p style="margin-bottom: 18px;"></p>

<div class="list-group text-center">
    <a ui-sref="main.home" class="list-group-item">
        <font>
            <font>全部</font>
        </font>
    </a>
</div>

<div class="list-group text-center">
    <a ui-sref="main.search({type:'loction',input:'台灣'})" onclick="window.scrollTo(0,0)" class="list-group-item">
        <font>
            <font>台灣</font>
        </font>
    </a>
    <a ui-sref="main.search({type:'loction',input:'日本'})" onclick="window.scrollTo(0,0)" class="list-group-item">
        <font>
            <font>日本</font>
        </font>
    </a>
    <a ui-sref="main.search({type:'loction',input:'韓國'})" onclick="window.scrollTo(0,0)" class="list-group-item">
        <font>
            <font>韓國</font>
        </font>
    </a>
    <a ui-sref="main.search({type:'loction',input:'歐洲'})" onclick="window.scrollTo(0,0)" class="list-group-item">
        <font>
            <font>歐洲</font>
        </font>
    </a>
    <a ui-sref="main.search({type:'loction',input:'香港'})" onclick="window.scrollTo(0,0)" class="list-group-item">
        <font>
            <font>香港</font>
        </font>
    </a>
    <a ui-sref="main.search({type:'loction',input:'中國'})" onclick="window.scrollTo(0,0)" class="list-group-item">
        <font>
            <font>中國</font>
        </font>
    </a>
    <a ui-sref="main.search({type:'loction',input:'泰國'})" onclick="window.scrollTo(0,0)" class="list-group-item">
        <font>
            <font>泰國</font>
        </font>
    </a>
    <a ui-sref="main.search({type:'loction',input:'美國'})" onclick="window.scrollTo(0,0)" class="list-group-item">
        <font>
            <font>美國</font>
        </font>
    </a>
</div>

<div class="btn-group-vertical text-center ng-scope" style="width: 132px">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 42px">
            亞洲&nbsp;&nbsp;&nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="main.search({type:'loction',input:'亞洲'})" onclick="window.scrollTo(0,0)">亞洲</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'東北亞'})" onclick="window.scrollTo(0,0)">東北亞</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'東南亞'})" onclick="window.scrollTo(0,0)">東南亞</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'中亞'})" onclick="window.scrollTo(0,0)">中亞</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'西亞'})" onclick="window.scrollTo(0,0)">西亞</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'南亞'})" onclick="window.scrollTo(0,0)">南亞</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'台灣'})" onclick="window.scrollTo(0,0)">台灣</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'日本'})" onclick="window.scrollTo(0,0)">日本</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'韓國'})" onclick="window.scrollTo(0,0)">韓國</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'香港'})" onclick="window.scrollTo(0,0)">香港</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'中國'})" onclick="window.scrollTo(0,0)">中國</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'泰國'})" onclick="window.scrollTo(0,0)">泰國</a>
            </li>
            <li><a ui-sref="main.search({type:'loction',input:'越南'})" onclick="window.scrollTo(0,0)">越南</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 42px">
            歐洲&nbsp;&nbsp;&nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">全部</a>
            </li>
            <li><a href="#">Dropdown link</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 42px">
            美洲&nbsp;&nbsp;&nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">全部</a>
            </li>
            <li><a href="#">Dropdown link</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 42px">
            大洋洲
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">全部</a>
            </li>
            <li><a href="#">Dropdown link</a>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="height: 42px">
            非洲&nbsp;&nbsp;&nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">全部</a>
            </li>
            <li><a href="#">Dropdown link</a>
            </li>
        </ul>
    </div>
</div>

<p style="margin-bottom: 20px;"></p>

<div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-70" bs-affix style="width: 132px;">
    <button type="button" class="btn btn-default btn-lg btn-bloctionk hidden-xs" onclick="window.scrollTo(0,0)">回到頂端</button>
    <p style="margin-bottom: 20px;"></p>
    <div class="row well">
        廣告
    </div>
</div>
