<div>
    <button type="button" class="btn btn-default">刪除項目</button>
    <button type="button" class="btn btn-default pull-right" style="margin-left: 13px;" onclick="window.scrollTo(0,0)">新增行程</button>
</div>
<p style="margin-bottom: 18px;"></p>

<div class="row well">
    <div class="col-xs-5 col-md-5">
        <h3>
            <input type="checkbox" style="width: 15px;height: 15px;" >
            <a ui-sref="main.plan({planId:123})">日本狂吃猛敗之旅旅旅旅旅旅旅旅旅旅旅</a>
        </h3>
        <span>hamgg</span>&nbsp;&nbsp;&nbsp;
        <span>東京</span>&nbsp;&nbsp;&nbsp;
        <span>5天4夜</span>
    </div>
    <div class="col-xs-7 col-md-7">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題...</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題</div>
        </a>
    </div>
</div>

<div class="row well">
    <div class="col-xs-5 col-md-5">
        <h3>
            <input type="checkbox" style="width: 15px;height: 15px;"  >
            <a href="#">走馬看花歐洲行</a>
        </h3>
        <span>dog5566</span>&nbsp;&nbsp;&nbsp;
        <span>巴黎</span>&nbsp;&nbsp;&nbsp;
        <span>9天8夜</span>
    </div>
    <div class="col-xs-7 col-md-7">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題...</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題</div>
        </a>
    </div>
</div>

<div class="row well">
    <div class="col-xs-5 col-md-5">
        <h3>
            <input type="checkbox" style="width: 15px;height: 15px;"  >
            <a href="#">洋蔥小鎮老人團</a>
        </h3>
        <span>jimmy</span>&nbsp;&nbsp;&nbsp;
        <span>阿德雷得</span>&nbsp;&nbsp;&nbsp;
        <span>2天1夜</span>
    </div>
    <div class="col-xs-7 col-md-7">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題...</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題</div>
        </a>
    </div>
</div>

<div class="row well">
    <div class="col-xs-5 col-md-5">
        <h3>
            <input type="checkbox" style="width: 15px;height: 15px;"  >
            <a href="#">歐洲白目之旅</a>
        </h3>
        <span>rodma</span>&nbsp;&nbsp;&nbsp;
        <span>巴黎/比利時/倫敦</span>&nbsp;&nbsp;&nbsp;
        <span>19天18夜</span>
    </div>
    <div class="col-xs-7 col-md-7">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題...</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題</div>
        </a>
    </div>
</div>

<div class="row well">
    <div class="col-xs-5 col-md-5">
        <h3>
            <input type="checkbox" style="width: 15px;height: 15px;"  >
            <a href="#">日月潭</a>
        </h3>
        <span>catbug</span>&nbsp;&nbsp;&nbsp;
        <span>南投</span>&nbsp;&nbsp;&nbsp;
        <span>2天1夜</span>
    </div>
    <div class="col-xs-7 col-md-7">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題...</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題標題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題題</div>
        </a>
        <a href="#連向景點頁面">
            <img class="img-rounded" src="http://photo.xuite.net/_recom/18963864_3.jpg" alt="外部網址">
            <div>標題</div>
        </a>
    </div>
</div>
