<!-- desktop -->
<md-toolbar layout="row" hide-sm>
  <div class="md-toolbar-tools">
    <h1 layout-align-gt-sm="center">
      {{ dvm.logo }} - desktop
    </h1>
    <span flex=""></span>
    <md-button class="md-raised menuBtn" style="color: black;">
      我的收藏
    </md-button>
    <md-button class="md-raised menuBtn" style="color: black;">
      我的規劃
    </md-button>
    <md-button class="md-raised menuBtn" style="color: black;">
      更多
    </md-button>
  </div>
</md-toolbar>


<!-- mobile -->
<md-toolbar layout="row" layout-align="space-between center" hide-gt-sm>
  <div>
    <md-button class="md-primary menuBtn" ng-click="dvm.toggleSidenav('left')"  aria-label="Toggle Side">
      選單
    </md-button>
  </div>
  <div>
    <md-button class="md-primary menuBtn menuFunction" ng-click="dvm.showTopNavBottomSheet()"  aria-label="Menu Function">
      我的收藏
      <md-icon class="menuFunctionIcon">
        expand_more
      </md-icon>
    </md-button>
  </div>
  <div>
    <md-button class="md-primary menuBtn" ng-click="dvm.toggleSidenav('right')"  aria-label="Toggle Side">
      選單及選單
    </md-button>
  </div>
</md-toolbar>