.menuBtn {
  height: 38px;
  min-width: 88px;
  width: 105px;
  font-size: 19px;
}

.menuBtn-m {
  height: 38px;
  min-width: 0px; /* need to specify width in style */
  font-size: 19px;
}

.menuFunction {
  font-size: 30px;
  width: 100%;
}

.menuFunctionIcon {
  color: rgba(255,255,255,0.87) !important;
  margin-right: -4px;
  margin-left: -4px;
}


/* @if ENV='dev' */
/* @endif */
/* @if ENV='stage' */
/* @endif */
/* @if ENV='prod' */
/* @endif */