<md-bottom-sheet class="md-list md-has-header" ng-cloak>

  <!-- <md-subheader>Actions</md-subheader> -->
  <md-list>
    <md-list-item>
      <md-button
          ng-click="bvm.listItemClick('1')"
          md-autofocus="false"
          class="md-list-item-content" >
        <md-icon >menu</md-icon>
        <span class="md-inline-list-icon-label">123</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
          ng-click="bvm.listItemClick('2')"
          md-autofocus="true"
          class="md-list-item-content" >
        <md-icon >menu</md-icon>
        <span class="md-inline-list-icon-label">123</span>
      </md-button>
    </md-list-item>
  </md-list>

</md-bottom-sheet>