/* search component: select function */
.search-select-m {
  margin-top: 7px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  height: 40px;
  width: 150px; /*tune for item*/
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 19px;
  background-color: rgb(250,250,250);
}

