<form>
    <div class="input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" ng-click="changeKey('搜尋地點')">地點</a>
                </li>
                <li><a href="" ng-click="changeKey('搜尋標題')">標題</a>
                </li>
            </ul>
        </div>
        <!-- /btn-group -->
        <input type="text" class="form-control" placeholder="{$searchKey$}">
    </div>
</form>
<p style="margin-bottom: 18px;"></p>

<div class="list-group text-center">
    <a href="file:///D:/%E5%88%86%E9%A1%9E%E8%B3%87%E6%96%99%E5%A4%BE/temp/Off%20Canvas%20Template%20for%20Bootstrap_files/Off%20Canvas%20Template%20for%20Bootstrap.htm" class="list-group-item">
        <font>
            <font>全部</font>
        </font>
    </a>
</div>

<div class="list-group text-center">
    <a href="file:///D:/%E5%88%86%E9%A1%9E%E8%B3%87%E6%96%99%E5%A4%BE/temp/Off%20Canvas%20Template%20for%20Bootstrap_files/Off%20Canvas%20Template%20for%20Bootstrap.htm" class="list-group-item">
        <font>
            <font>收藏資料夾1(n)</font>
        </font>
    </a>
    <a href="file:///D:/%E5%88%86%E9%A1%9E%E8%B3%87%E6%96%99%E5%A4%BE/temp/Off%20Canvas%20Template%20for%20Bootstrap_files/Off%20Canvas%20Template%20for%20Bootstrap.htm" class="list-group-item">
        <font>
            <font>收藏資料夾2(n)</font>
        </font>
    </a>
    <a href="file:///D:/%E5%88%86%E9%A1%9E%E8%B3%87%E6%96%99%E5%A4%BE/temp/Off%20Canvas%20Template%20for%20Bootstrap_files/Off%20Canvas%20Template%20for%20Bootstrap.htm" class="list-group-item">
        <font>
            <font>收藏資料夾3(n)</font>
        </font>
    </a>
    <a href="file:///D:/%E5%88%86%E9%A1%9E%E8%B3%87%E6%96%99%E5%A4%BE/temp/Off%20Canvas%20Template%20for%20Bootstrap_files/Off%20Canvas%20Template%20for%20Bootstrap.htm" class="list-group-item">
        <font>
            <font>收藏資料夾4(n)</font>
        </font>
    </a>
</div>

<div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-70" bs-affix style="width: 132px;">
    <button type="button" class="btn btn-default btn-lg btn-block hidden-xs"  onclick="window.scrollTo(0,0)">回到頂端</button>
    <p style="margin-bottom: 18px;"></p>
    <div class="row well" >
        廣告
    </div>
</div>




