<span>
    &nbsp;共有{$total$}個&nbsp;
</span>
<div class="btn-group ">
    <button type="button" class="btn btn-default" ng-click="newPlan()" ng-class="{'active': newClick}">
        <font>
            <font>最新</font>
        </font>
    </button>

    <button type="button" class="btn btn-default" ng-click="hotPlan()" ng-class="{'active': hotClick}">
        <font>
            <font>熱門</font>
        </font>
    </button>
</div>
&nbsp;
    <!-- Simple dropdown -->
    <span class="dropdown" on-toggle="toggled(open)">
      <a href class="dropdown-toggle" style="color: black;">
         {$choiceDays$}
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in days">
          <a href="#" ng-click="dropdownClick(choice)" onclick="window.scrollTo(0,0)">{$choice.desc$}</a>
        </li>
      </ul>
    </span>

<span>
    &nbsp;的&nbsp;
</span>
<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="backpackingPlan()" ng-class="{'active': backpackingClick}">
        <font>
            <font>自助</font>
        </font>
    </button>
    <button type="button" class="btn btn-default" ng-click="freePlan()" ng-class="{'active': freeClick}">
        <font>
            <font>自由行</font>
        </font>
    </button>
    <button type="button" class="btn btn-default" ng-click="tourPlan()" ng-class="{'active': tourClick}">
        <font>
            <font>跟團</font>
        </font>
    </button>
</div>
<span>
    &nbsp;行程&nbsp;
</span>
<p style="margin-bottom: 18px;"></p>


<!-- plan item -->
<div class="row well" ng-repeat="plan in data">
    <div class="col-xs-6 col-md-6">
        <h3>
            <!-- 限制顯示字數13字 -->
            <a ui-sref="main.plan({planId:'{$plan.planId$}'})" >{$plan.planName | ellipsis: 13 $}</a>
        </h3>
        <a ui-sref="main.search({type:'userId',input:'{$plan.userId$}'})" onclick="window.scrollTo(0,0)">{$plan.userId$}</a>&nbsp;&nbsp;

        <span ng-repeat="item in plan.nation">
            <a ui-sref="main.search({type:'location',input:'{$item.loc$}'})" onclick="window.scrollTo(0,0)">{$item.loc$}</a>&nbsp;
        </span>
        (
        <span ng-repeat="item in plan.area">
            <a ui-sref="main.search({type:'location',input:'{$item.loc$}'})" onclick="window.scrollTo(0,0)">{$item.loc$}</a>&nbsp;
        </span>) &nbsp;&nbsp;
        <span>{$plan.day$}日遊</span>
        <div style="margin-top:10px;font-size:15px;">
            <span class="glyphicon glyphicon-star" style="color:#FFDC00;"></span>
            &nbsp;{$plan.collected$}&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-thumbs-up" style="color:#0E58C1;"></span>&nbsp;{$plan.like$}&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- if 0 then hide -->
            <span class="glyphicon glyphicon-comment" style="color:#5FD064;"></span>&nbsp;{$1$}

        </div>
    </div>
    <div class="col-xs-6 col-md-6">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-repeat="pic in plan.picture">
            <a ui-sref="main.plan({planId:'{$plan.planId$}'})">
                <img class="img-rounded" ng-src="{$pic.thumb$}" alt="外部網址">
                <!-- 限制顯示字數4字 -->
                <div>{$pic.name | ellipsis: 4 $}</div>
            </a>
        </span>
    </div>
</div>

<!--
            <hr>
            <h2>Angular Facebook Utils</h2>
            <p >
                <facebook-login-button></facebook-login-button>
            </p>
            <div>
                <div ng-show='loggedInUser.name'>
                    <div>Hello, {$loggedInUser.name$}!</div>
                    <div>
                        {$loggedInUser | json$}
                    </div>
                </div>

                <div ng-hide='loggedInUser.name'>
                    <div>Hello, Stranger!</div>
                </div>
            </div>
            -->
<h2>angular-easyfb API demo</h2>
<a class="btn btn-success btn-sm" ng-click="share()">分享</a>
<br>

<div class="row">
    <div class="col-md-6">
        {$apiMe | json$}
    </div>
    <div class="col-md-6">
        {$loginStatus | json$}
    </div>
</div>
